<div class="welcome-container">


  <div class="trip-index-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1622542796254-5b9c46ab0d2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)">
  </div>

  <h1 class="welcome-title">Keep the world in your hand!</h1>

  <p class="welcome-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


      <div class="wrapper d-flex justify-content-center">
        <span><%= link_to "New trip", new_trip_path %></span>
        <span><%= link_to "Repeat Trip", new_trip_path %></span>
      </div>


</div>
