<body class="gif-background">



<div class="welcome-container">




  <h1 class="welcome-title">Keep the world in your hand!</h1>

  <p class="welcome-paragraph">Ready for a new adventure?</p>


      <div class="wrapper d-flex justify-content-center" style="margin-top: 40px;">
        <span><%= link_to "New trip", new_trip_path %></span>
        <span><%= link_to "Repeat Trip", trips_path %></span>
      </div>


</div>
</body>
