<div class="welcome-container">


  <div class="world">
    <img src="https://media0.giphy.com/media/f9M4voTOfD6hz8kd1T/giphy.gif?cid=ecf05e471zn8t3zsski9panf9fk0unks0wqbftkyzmvkhonp&rid=giphy.gif&ct=g"
      alt="" style= "width: 350px;border-radius: 10px;">
  </div>

  <h1 class="welcome-title">Keep the world in your hand!</h1>

  <p class="welcome-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


      <div class="wrapper d-flex justify-content-center">
        <span><%= link_to "New trip", new_trip_path %></span>
        <span><%= link_to "Repeat Trip", trips_path %></span>
      </div>


</div>
