<div class="new-container">

<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/gqzfzudq.json"
    trigger="loop"
    style="width:250px;height:250px">
</lord-icon>

<h1>Keep the world in your hand!</h1>

</div>
