// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-orange: #FA7921;
$lighter-orange: #FE9920;
$kaki: #B9A44C;
$dark-green: #566E3D;
$dark-blue: #0C4767;
