.line {
  border: 1px solid #8aa8a16c;
  width: 85%;
  margin: 20px auto;
}

.card-article2 {
  display: flex;
  margin-left: 11px;
  padding-bottom: 19px;
  margin-left: 30px;
}

.img-article img{
  width: 150px;
  height: 100%;
  padding-right: 20px;
}

.content-article h5{
  font-size: 15px;
  margin-right: 19px;
  color: #adb4b4;
  width: 206px;
}

.title-article h5{
  width: 206px;
  color: white;
}


.search{
  background-color: #80808082;
  height: 29px;
  width: 80%;
  margin-top: -29px;
  border-radius: 12px;
  margin-left: 42px;
  margin-bottom: 35px;
  display: flex;
  color: #ffffff91;;
  margin-top: 32px;
}

.search ion-icon{
  padding-left: 14px;
  margin-top: 6px;
}

.search p {
  padding-left: 8px;
  margin-top: 2px;
}

.button-read {
  background-color: #161616;
  text-decoration: none;
  color: #ffffffab;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #312f2f;
}

.back-lien{
  margin-top: -40px;
  padding: 8px 19px;
  border-radius: 8px;
  font-size: 16px;
}

.back-lien a{
  background-color: #80808082;
  padding: 8px 19px;
  margin-top: 21px;
  padding: 8px 19px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.btnn-save3{
color: white;
background-color: #609b99d4;
border-radius: 4px;
padding: 4px 17px;
width: 51px;
margin-bottom: 13px;
display: block;
margin-top: 7px;
height: 36px;
}

.btnn-save1{
  color: white;
  border-radius: 4px;
  padding: 4px 17px;
  width: 51px;
  margin-bottom: 13px;
  display: block;
  margin-top: 7px;
  height: 36px;
  background-color: #7a7a7a;
}
