body {
  background-color: black;
  color: white;
  font-family: $body-font;
}

.water-article-image {
background: url("waterfall.jpg");
background-position: center center;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
}

.water-title {
  margin: 20px;
  text-align: center;
  font-family: $headers-font;
  font-size: revert;
  margin-top: -32px;
}

.difficulty-level {
  font-size: 18px;
  text-align: center
}

.fire-icons {
  text-align: center;
  margin-top: -5px;
}

.fa-fire:before {
  content: "\f06d";
  font-size: 23px;
  padding: 5px;
}

// js tabs
.survival-tabs {
margin: 20px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.tabs-underlined .tab-underlined {
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .5;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-family: $body-font;
  font-size: 20px;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid white;
}

.no_show {
  display: none!important;
  visibility: hidden;
  opacity: 0;
}

.tabs-toggle {
  margin: 20px;
  margin-top: 20px;
}
//js tabs

.water-article-title {
  margin-left: 20px;
  margin-top: 20px;
  font-family: $body-font;
  font-size: 1.23rem;
}

.purify-article {
  margin: 20px;
  text-align: justify;
}

.guide-author {
  margin: 20px;
  margin-top: -2px;
  font-weight: bold;
}


.guide-paragraph {
  margin: 20px;
  margin-top: -13px;
}

.guide-paragraph2 {
  margin: 20px;
  margin-top: -36px;
}

.purify-article-extra {
  margin: 20px;
  font-size: 1.23rem;
  font-family: $body-font;
}

.guide-space {
  margin-top: 30px;
}

.safety-part {
  display: inline-block;
}

.fa-circle-exclamation:before {
  content: "\f06d";
  font-size: 23px;
  padding: 4px;
}

.fa-caret-right:before {
  content: "\f06d";
  font-size: 23px;
  padding: 4px;
}

.fa-wrench {
  content: "\f06d";
  font-size: 23px;
  padding: 4px;
}
