.line {
  border: 1px solid #8aa8a16c;
  width: 85%;
  margin: 20px auto;
}

.card-article3 {
  display: flex;
  margin-left: 11px;
  padding: 10px;
}

.img-article img{
  width: 150px;
  height: 109px;
  border-radius: 9px;
}

.content-article h5{
  font-size: 15px;
  margin-right: 19px;
  color: #adb4b4;
  width: 206px;
  margin-top: -2px;
  font-family: Inter sans-serif;
}

.title-article h5{
  width: 206px;
  color: white;
}


.search{
  background-color: #80808082;
  height: 29px;
  width: 80%;
  margin-top: -29px;
  border-radius: 12px;
  margin-left: 42px;
  margin-bottom: 35px;
  display: flex;
  color: #ffffff91;;
  margin-top: 32px;
}

.search ion-icon{
  padding-left: 14px;
  margin-top: 6px;
}

.search p {
  padding-left: 8px;
  margin-top: 2px;
}

.button-read {
  background-color: #161616;
  text-decoration: none;
  color: #ffffffab;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #312f2f;
}

.back-lien{
  margin-top: -40px;
  padding: 8px 19px;
  border-radius: 8px;
  font-size: 16px;
}



// .btnn-save1 a{
//   color: white;
//   border-radius: 4px;
//   padding: 4px 17px;
//   width: 51px;
//   margin-bottom: 13px;
//   display: block;
//   margin-top: 7px;
//   height: 36px;
//   background-color: #7a7a7a;
// }

// .btn-save a {
//   color: white;
//    background-color: grey ;
//   border-radius: 4px;
//   padding: 4px 17px;
//   width: 51px;
//   margin-bottom: 13px;
//   display: block;
//   margin-left: 304px;
//   margin-top: -126px;
// }

.form-control2 {
  background-color: transparent;
  border-right: none;
  border-top: none;
  border-left: none;
  color: white !important;
  justify-content: center;
  margin-left: 120px;
  margin-bottom: 28px;
  margin-top: 38px;
}
.form-control2:focus {
  background-color: transparent;
}
.form-control2::placeholder {
  color: white;
  font-family: $body-font;
}
