body{
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 44px;
}

.en-tête-profil {
  display: flex;
  justify-content: space-between;
}

.pdp img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -41px;
  margin-right: 91px;
  margin-bottom: 40px;
}

.my-journal {
  display: flex;
  justify-content: space-between;
}

.title-myjournal {
  text-size: 29px;
  font-size: 31px;
  font-family: open sans-serif;
  font-weight: bolder;
  line-break: anywhere;
  margin-top: -18px;
}

.button-see-all a{
  color: #ffffffb5;
  margin-right: 64px;
}

#carrousel {
  width: 264px;
  height: 144px;
  border: solid 1px #FFF;
  box-shadow: 0 0 10px grey;
  border-radius: 28px;
  margin-top: 20px;
  margin-bottom: 78px;
  margin-left: 44px;
  position: relative;
}

img{
  vertical-align: middle;
  height: 65px;
}

