body{
  background-color: black;
}

.journal-titles {
  color: white;
  text-decoration: none;
  margin-left: 44px;
}


.my-journal {
  display: flex;
  justify-content: space-between;
}

.title-myjournal {
  font-size: 29px;
  font-size: 31px;
  font-family: open sans-serif;
  font-weight: bolder;
  line-break: anywhere;
  margin-top: -18px;
}

.button-see-all a{
  color: #ffffffb5;
  margin-right: 64px;
}

#carrousel {
  width: 264px;
  height: 144px;
  border: solid 1px #FFF;
  box-shadow: 0 0 10px grey;
  border-radius: 28px;
  margin-top: 20px;
  margin-bottom: 78px;
  margin-left: 44px;
  position: relative;
}

