.img-bg img{
  width: 100%;
  margin-top: -66px;
  height: 390px;
}

.popup {
  background-color: black;
  position: absolute;
  height: 845px;
  width: 100%;
  margin-top: -161px;
  border-radius: 24px;
}

.title-story{
  margin: 24px;
}

.intro-story{
  margin: 24px;
}

.description-story{
  margin: 24px;
}

.img-story{
  height: 185px;
  margin: 0 auto;
  display: block;
}
