.img-bg img{
  width: 100%;
  margin-top: -66px;
  height: 328px;
}

.popup {
  background-color: #000000c9;
  position: absolute;
  height: 845px;
  width: 100%;
  margin-top: -100px;
  border-radius: 24px;
}

.title-story{
  margin: 24px;
  text-align: center;
}

.intro-story{
  margin: 24px;
}

.description-story{
  margin: 24px;
}

.img-story img {=
  height: 160px;
  margin: 0 auto;
  display: block;
  margin: 0px auto;
  border-radius: 4px;
}

.lien-back a {
  background-color: #80808082;
  padding: 8px 19px;
  margin-top: 21px;
  padding: 8px 19px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  position: absolute;
}
