.background {
  background-color: black;
  color: white;
  font-family: $body-font;
}

.welcome-title {
  font-family: $headers-font;
  margin: 20px;
  text-align: center;
  font-family: $headers-font;
  margin-top: 40px
}

.welcome-paragraph {
  margin: 20px;
  text-align: center;
}

.trip-index-image {
  display: block;
  height: 490px;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
}


a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.group {
  display: flex;
  position: relative;
}

.world {
  text-align: center;
  margin-top: -38px;
}

.logout a {
  color: white;
}
