.title-askbudget {
  letter-spacing: 1px;
  text-align: center;
  margin: 40px 0px;
}

.askbudget-paragraph {
  text-align: center;
}

.budget-input {
  text-align:center;
}

.budget-input input {
  background-color: rgb(45, 45, 45);
  color: rgb(170, 170, 170);
  border-radius: 20px;
  // border: 1 solid rgb(170, 170, 170);
  width: 90%;
  padding: 15px;
  padding-left: 30px;
  margin: 0px auto;
}


.slide-budget {
  margin: 100px auto;
}

.budget-line {
  border: 1.5px solid gray;
  margin: 0px auto;
  width: 90%;
}

.price-range {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0px 10px;
}

.submit-button {
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  margin: 40px auto;
  width: 40%;
  background-color: rgb(176, 176, 176);
  color: rgb(0, 0, 0);
}

.submit-button a {
  color: white;
}
