.title-askbudget {
  letter-spacing: 1px;
  text-align: center;
  margin: 40px 0px;
}

.askbudget-paragraph {
  text-align: center;
}

.budget-input {
  text-align:center;
}

.budget-input input {
  background-color: rgb(45, 45, 45);
  color: rgb(170, 170, 170);
  border-radius: 20px;
  // border: 1 solid rgb(170, 170, 170);
  width: 90%;
  padding: 15px;
  padding-left: 30px;
  margin: 0px auto;
}

.slide-budget {
  margin-top: 60px;
  padding: 0px 10px;
}

.drag-price {
  margin-bottom: 80px;
}

.slider-price {
  margin-bottom: 70px;
}

.budget-line {
  border: 1.5px solid gray;
  margin: 0px auto;
  width: 90%;
}

#price-indicator {
  background-color: $dark-orange;
  height: 30px;
  width: 15px;
  border-radius: 20px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0px 10px;
}

#submit-budget input[type="submit" i] {
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  margin: 20px auto;
  border: none !important;
  width: 40%;
  background-color: white;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
