.input {
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 24px;
}

.lien-backk a{
  color: white;
  margin: 22px;
  display: block;
  text-decoration: underline;
}

.form-control input{
  margin: 0 auto;
  
}
