<div class="likes" id="likes-story-<%= story.id %>">
  <% if story.like_from_user(current_user) %>
    <%= link_to liike_path(story.like_from_user(current_user)), method: :delete, class: "btnn-save1 liked", remote: true do %>
      <ion-icon name="bookmark-outline"></ion-icon>
    <% end %>
  <% else %>
    <%= link_to story_liikes_path(story), method: :post, class: "btnn-save1", remote: true  do %>
      <ion-icon name="bookmark-outline"></ion-icon>
    <% end %>
  <% end %>
</div>
