<div class="bakko-container">

  <h1 class="title-askbudget">TRAVEL MORE, SPEND LESS</h1>
  <p class="askbudget-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <div class="budget-line">
  </div>

  <div class="budget-input">

    <%= simple_form_for([@trip, @budget]) do |f| %>
      <%= f.input :price %>
      <%= f.submit %>
    <% end %>


  </div>


</div>
