<div class="bakko-container">
  <h1>$<%= @budget.price %></h1>

  <% @budget_by_category.each do |budget_by_category| %>
    <div class="budget-distribution">
    <%= budget_by_category[:category].capitalize %>
    $<%= budget_by_category[:price] %><br>
    </div>
  <% end %>
</div>
