<%# <div id="bakko-logo"><%= image_tag asset_path("bakko-white-logo.png") %>

 <div class="avatar-img">
  <%# <% if @user.photo.attached? %>
  <%# <%= cl_image_tag @user.photo.key %>
  <%# <% else %>
  <%# <%= image_tag('default.jpg') %>
  <%# <% end %>
</div>
