<div class="bakko-container">
  <div class="topbar-content">
    <div id="bakko-logo"><%= image_tag asset_path("bakko-white-logo.png") %></div>

    <div class="logout">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>

<%#

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

 %>











    <div class="avatar-img">
      <%# <% if current_user.photo.attached? %>
      <%# <%= cl_image_tag @user.photo.key %>
      <%# <% else %>
      <%= image_tag('user-profil.jpg') %>
      <%# <% end %>
    </div>




  </div>
</div>
