<div class="container-profil" >

  <div class= 'en-tête-profil'>
    <%= image_tag 'bakko-logo.svg'%>
    <div class="pdp"><%= image_tag('default.jpg') %></div>
  </div>
  <div class= "my-journal">
    <%= link_to "Your journal", profil_path %></p>
    <%= link_to "See all", profil_path %></p>
  </div>

</div>
