<%# <% if user_signed_in? %>
  <%# <% if @user.photo.attached? %>
  <%# <%= cl_image_tag @user.photo.key %>
  <%# <% end %>
<%# <% end %>

<div>
  <%= link_to "Edit", edit_user_registration_path %></p>
  <%= image_tag 'bakko-logo.svg'%>
</div>
