  <div class="search"> <ion-icon name="search-outline"> </ion-icon><p>Search</p></div>

 <% @stories.each do |story| %>
  <div class= "card-article">
    <div class= "infos-article">
      <div class= "title-article"> <h5><%= story.title %></h5> </div>
      <div class= "content-article"> <h5><%= story.content %></h5> </div>
     <%= link_to "Read",trip_story_path(story.trip, story), class:"button-read" %>
    </div>
    <div class= "img-article">
      <% if story.photo.attached? %>
        <%= cl_image_tag story.photo.key %>
      <% end %>
    </div>
  </div>

    <div class= 'line'></div>

 <% end %>
