.btn {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.btn:focus {
background-color: #7a7a7a;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 12px;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: $body-font;
  border-color: white;
  margin-top: 20px;

  a {
    text-decoration: none;
    color: white;
    font-family: $body-font;
  }
}

.btn-secondary {
color: white;
background-color: #7a7a7a;
width: 120px;
border-radius: 20px;
margin-top: 20px;
padding: 11px;
margin-left: 112px;
}

.btn-repeat {
  background-color: #282828;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
