.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 421px;
}

.carousel-item {
  height: 421px;
}

.carousel-img{
  height: 80%;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
  opacity: 0.7;
}

.carousel-caption {
  margin-bottom: 132px;
}

.btn-read a{
    margin-bottom: 34px;
    background-color: #141313cc;
    padding: 8px;
    border-radius: 8px;

}

.new-article{
  display: flex;
  justify-content: space-between;
  margin-bottom: -42px;
}


.new-article p{
  margin: 20px;
  padding: -9px;
  margin-top: 0px;
}

.description-article{
  margin-top: 42px;
  text-align: left;
}

.carousel-indicators {
  margin-bottom: -336px;
}

.carousel-control-next-icon {
  margin-bottom: 144px;
  margin-top: 500px;
}

.carousel-control-prev-icon {
   margin-bottom: 144px;
   margin-top: 500px;
}

.carousel-control-prev, .carousel-control-next {
  top: 60%;
  bottom: 9%;
}
