#bakko-logo img {
  height: 90px;
}

.avatar-img img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  // margin: 80px 20px;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
