<body class="water-article-image">


  <div class="survival-article-container">

  <h1 class= "water-title">Purify Your Water</h1>

  <p class= "difficulty-level">Difficulty level</p>
    <div class= "fire-icons">
      <% @guide.difficulty.times do %>
        <i class="fa-solid fa-fire"></i>
      <% end %>
    </div>

    <div class="survival-tabs">
      <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" class="tab-underlined active">Methods</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Supplies</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Safety</a>
        </li>
      </ul>
    </div>

  </div>
</body>
